<?xml version="1.0"?>
<launch>

  <arg name="use_simulation" default="true" />
  <arg name="use_trajectory_controller" default="false" />

<group if="$(arg use_simulation)">
  <include file="$(find ur_ros_interface)/launch/ur10e_gazebo.launch" >
    <param name="traj_control" type="bool"   value="$(arg use_trajectory_controller)" />
  </include>
</group>


<group unless="$(arg use_simulation)">
  <include file="$(find ur_ros_interface)/launch/ur10e_bringup.launch" >
  </include>
</group>
 <node name="ur_cartesian_controller" pkg="ur_interface_pkg" type="ur_inv_kin" output="screen">        

</launch>
