<?xml version="1.0"?>
<launch>

  <arg name="use_simulation" default="true" />

<group if="$(arg use_simulation)">
<param name="positon_controller_topic" value="/arm_controller/command" />
 </node>
</group>


<group unless="$(arg use_simulation)">
<param name="positon_controller_topic" value="/scaled_pos_joint_traj_controller/command" />
 <node name="ur_manager" pkg="ur_interface_pkg" type="ur_manager_node" output="screen">        
 </node>
</group>
 <node name="ur_cartesian_controller" pkg="ur_interface_pkg" type="ur_inv_kin" output="screen">        

</launch>
